.entry {
  display: flex;
  align-items: center;
  background-color: white;
  height: 50px;
  border-radius: 10px;
  padding-left: 25px;
  margin:10px;
}

.column-0 {
  padding-right: 5.5%;
}

.column-1 {
  padding-right: 21%;
}

.column-2 {
  padding-right: 18%;
}

.column-3 {
  padding-right: 49%;
}

.action-icons {
  display: flex;
  justify-content: space-between;
  width: 50px;
}