.main-header{
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  color:  #515050;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 30px;
}