.logo-image {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-top: 10vh;
  background: rgb(236, 234, 250);
}

.logo-image p {
  margin-left: 10vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(67, 67, 67);
  margin-bottom: 15px;
}

.logo-image img {
  width: 50%;
  align-self: center;
}