.collection-entries {
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(225, 229, 242);
  height: 94vh;
}

.collection-entries-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.collection-entry-count {
  font-size: 1.6rem;
  font-weight: bolder;
  color:  #515050;
}

.collection-add-entry{
  color: #7136FA;
}

.entry-keys-heading {
  display: flex;
  width: 100%;
  color:  #515050;
  margin-bottom: 10px;
  margin-left: 35px;
}

.key-0 {
  padding-right: 6.2%;
}

.key-1 {
  padding-right: 20.5%;
}

.key-2 {
  padding-right: 17.5%;
}

.key-3 {
  padding-right: 48%;
}


