.registration-page {
  display: flex;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-section {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(42, 42, 42);
}

.register-section>p {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.register-section p {
  color: white;
}

.register-form {
  font-weight: 300;
  font-size: 0.9rem;
}

.register-form input {
  width: 16vw;
  height: 4vh;
  border-radius: 6px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  margin-bottom: 14px;
  margin-top: 8px;
}

.register-form button {
  width: 16vw;
  height: 4vh;
  border-radius: 6px;
  border: none;
  margin-top: 22px;
  margin-bottom: 15px;
  background: rgb(135, 36, 168);
  background: linear-gradient(90deg, rgba(135, 36, 168, 1) 0%, rgb(45, 27, 104) 100%);
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;
}

.have-account{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}